/*
 * Overlay for SparkFun RED-V RedBoard
 *
 * SPI1 enabled for BNO085 IMU.
 * NOTE: GPIO 5 (LED) is shared with SPI1 SCK — no LED when SPI active.
 */

&spi1 {
	status = "okay";
	pinctrl-0 = <&spi1_cs0_default
		     &spi1_mosi_default
		     &spi1_miso_default
		     &spi1_sck_default>;
	pinctrl-names = "default";
};

&spi2 { status = "disabled"; };
